<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bash.twitterach</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Libraries -->
    <script src="/static/js/libs/jquery.js"></script>
        <script src="/static/js/libs/underscore.js"></script>
        <script src="/static/js/libs/backbone.js"></script>

    <!-- Application -->
        <script src="/static/js/index.js"></script>
        <script src="/static/js/modules/quotes.js"></script>
        <script src="/static/js/modules/paginated.js"></script>


    <script src="/static/js/bootstrap/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap/bootstrap-dropdown.js"></script>

    {#    <script src="/quote?callback=collection"></script>#}


    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">Bash.twitterach</a>
            <ul class="nav">
                {#                <li><a href="#about">О нас</a></li>#}
                {% if user.is_authenticated %}
                    <li><a href="#" data-controls-modal="add-modal" data-keyboard="true">Добавить</a></li>
                {% endif %}
            </ul>
            <ul class="nav secondary-nav">
                {% if social_auth.associated %}

                    {% for type, accounts in social_auth.associated.items %}
                        {% for account in accounts %}
                            <li>
                                <a href="#"><img style='height: 16px; vertical-align: middle;'
                                                 src="/static/img/{{ account.provider }}.png"> {{ user.first_name|capfirst }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <li><a data-bypass href="{% url socialauth_begin 'twitter' %}">Вход через <b>Twitter</b></a></li>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class='hide modal' id="add-modal">
        <form style='margin: 0' action="#add" method="POST">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>Добавить цитату</h3>
            </div>
            <div class="modal-body">
                <textarea style='width: 98%;' placeholder="Вставьте цитату" name='text'></textarea>
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                <button class="btn primary">Добавить</button>
            </div>
        </form>
    </div>

    <div class="content" id="main">
        {% for quote in quotes.object_list %}
            <div data-quote-id='{{ quote.pk }}' class='row quote'>
                <img src="http://a0.twimg.com/profile_images/1701669480/100_PBS_10_010_normal.png">
                <div data-user-id='{{ quote.author.social_auth.get.uid }}' class='span2'>
                    <p class='username'>{{ quote.author.username }}</p>
                    <p class='id'><a href='/quote/<%= id %>'>#{{ quote.pk }}</a></p>
                </div>
                <div class="span7 text">{{ quote.text }}
                </div>
                <div class="row">
                    <div class="voting span1">
                        <button class="label success">+</button>
                        <button class="label danger">-</button>
                    </div>
                    <div class="span2">
                        Тут еще что нить
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <footer style="margin: 0;padding: 0">
        <div class="pagination center">
            <ul id='navigation'>
                {% if quotes.has_previous %}
                    <li class="prev"><a href="/page/{{ quotes.previous_page_number }}">&larr; Предыдущая</a></li>
                {% else %}
                    <li class="prev disabled"><a>&larr; Предыдущая</a></li>
                {% endif %}

                <li class="active"><a>Страница {{ quotes.number }} из {{ quotes.paginator.num_pages }}</a></li>
                {% if quotes.has_next %}
                    <li class="next"><a href="/page/{{ quotes.next_page_number }}">Следующая &rarr;</a></li>
                {% else %}
                    <li class="next disabled"><a>Следующая &rarr;</a></li>
                {% endif %}
            </ul>
        </div>
        <p style='clear: both;'>&copy; Company 2012</p>
    </footer>
</div>
</body>
</html>
