<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Bash.twitterach</title>
    <meta name="description" content="Цитатник Скайпача">
    <meta name="author" content="@mr_apt">

    <!-- Styles -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/twitter.png">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Templates -->
    <script type="text/template" id="quote-template">
        <img src="https://si0.twimg.com/a/1326828287/images/logos/twitter_newbird_blue.png">
        <div class='span2'>
            <div class="info"><a href='/<%= id %>'>#<%= id %></a>
                <button class="plus label success">+</button>
                <button class="count label notice">0</button>
                <button class="minus label important">-</button>
                </div>

                <a rel='twipsy' title='Twitter status' data-bypass>@<%= author.username %></a>
            <span title='Время добавления' class="label"><%= datetime %></span>

        </div>
        <pre class="span9"><%= text %></pre>
    </script>

    <script type="text/template" id="pagination-template">
        <% if(pages > 1) { %>
        <% if (!prev) { %>
        <li class="prev disabled">
            <a href="">&larr; Предыдущая</a>
        </li >
        <% } else { %>
        <li class="prev">
            <a href="/page/<%= prev %>" >&larr; Предыдущая</a>
        </li >
        <% } %>
        <li class="active">
            <a href="" >Страница <%= page %> из <%= pages %></a>
        </li>
        <% if (!next) { %>
        <li class="next disabled">
            <a href="">Следующяя  &rarr;</a>
        </li >
        <% } else { %>
        <li class="next">
            <a href="/page/<%= next %>" >Следующяя  &rarr;</a>
        </li >
        <% } %>
        <% } %>
    </script>
</head>
<body class='no-js'>
<script>document.body.className = document.body.className.replace("no-js","");</script>
<div class="topbar">
    <div class="fill">
        <div class="container span12">
            <a class="brand" href="/">Bash.twitterach</a>
            <ul class="nav">
                {#                <li><a href="#about">О нас</a></li>#}
                {% if user.is_authenticated %}
                    <li><a href="/add"><img src='/static/img/001.png'> Добавить</a></li>
                {% endif %}
            </ul>
            <ul class="nav secondary-nav">
                {% if social_auth.associated %}
                    {% for type, accounts in social_auth.associated.items %}
                        {% for account in accounts %}
                            <li><a><img src="/static/img/{{ account.provider }}.png"> {{ user.username }} </a></li>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <li>
                        <a data-bypass href="{% url socialauth_begin 'twitter' %}">Вход через <b>Twitter</b></a></li>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>

<div class="container span12">
    <div class='{% if not form and not errors %}hide in{% endif %} modal' id="add-modal">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>

            <h3>Добавить цитату</h3>
        </div>
        <form id="add" style='margin: 0' action="/add" method="POST">
            <div class="modal-body">
                <textarea name="text" placeholder="Вставьте цитату" rows="10"></textarea>

                {% if errors %}
                    <span class="label important">Ошибка: {{ errors.text.0 }}</span>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                <span class="help-block label notice" style='float:left;'>Цитата будет доступна после проверки Неизвестными Отцами.</span>
                <button class="btn primary">Добавить</button>
            </div>
        </form>
    </div>

    <div class="content" >
        <div id="alert-message" class="{% if not pk %}hide{% endif %} alert-message success">
            <a data-bypass class="close">×</a>
            <p><strong>Так держать! </strong>Вы успешно добавили цитату под номером <span class='pk'>{{ pk }}</span>.</p>
        </div>
        <div id="main">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer style="margin: 0;padding: 0">
        <div class="pagination center">
            <ul id='navigation'>

            </ul>
        </div>
        <p style='clear: both;'>&copy; Twitterach 2012</p>
    </footer>
</div>

<!-- Libraries -->
<script src="/static/js/libs/jquery.js"></script>
<script src="/static/js/libs/underscore.js"></script>
<script src="/static/js/libs/backbone.js"></script>

<!-- Modules -->
<script src="/static/js/bootstrap/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap/bootstrap-twipsy.js"></script>

<!-- Application -->
<script src="/static/js/index.js"></script>
<script src="/static/js/modules/users.js"></script>
<script src="/static/js/modules/quotes.js"></script>
<script src="/static/js/modules/paginated.js"></script>
<script src="/static/js/modules/app.js"></script>

<!-- Bootstrap -->
{% block bootstrap %}
<script src="/quote?callback=bootstrap&page={{ page|default:1 }}&perPage=7"></script>
{% endblock %}
<!-- Google analytics -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28625718-1']);
    _gaq.push(['_setDomainName', 'twitterach.ru']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
