<% if(pages > 1) { %>
<% if (!prev) { %>
<li class="prev disabled">
    <a href="" >&larr; Предыдущая</a>
</li >
<% } else { %>
<li class="prev">
    <a href="/page/<%= prev %>" >&larr; Предыдущая</a>
</li >
<% } %>
<li class="active">
    <a href="#" >Страница <%= page %> из <%= pages %></a>
</li>
<% if (!next) { %>
<li class="next disabled">
    <a href="" >Следующяя  &rarr;</a>
</li >
<% } else { %>
<li class="next">
    <a href="/page/<%= next %>" >Следующяя  &rarr;</a>
</li >
<% } %>
<% } %>

