    <img src="https://si0.twimg.com/a/1326828287/images/logos/twitter_newbird_blue.png">
    <div data-user-id='<%= author.social_auth.uid %>' class='span2'>
        <p class='id'><a href='/quote/<%= id %>'>#<%= id %></a> <%= author.username %></p>
        <p class='voting'><button class="plus label success">+</button>
            <button class="count label notice">0</button>
            <button class="minus label important">-</button>
        </p>
    </div>
    <div class="span8 text"><%= text %></div>
    <div class="row">
        <div class="voting span2">
            
        </div>
        
    </div>